In [1]:
import pandas as pd
import FinanceDataReader as fdr

In [17]:
# 종목코드
code = '034730'

# 날짜
start_date = '2020-06-01'
end_date = '2024-05-31'

# 주가 데이터 수집
stock = fdr.DataReader(code, start=start_date, end=end_date).reset_index()

# 이동평균과 이격도 변수 추가
period = [5, 20, 60, 120]

for p in period :
    stock[f"{p}MA"] = stock["Close"].rolling(window = p).mean()
    stock[f"{p}Disparity"] = stock["Close"] / stock[f"{p}MA"]

print(stock)

stock.to_csv('./dataset/stock_sk.csv', index=False)

          Date    Open    High     Low   Close   Volume    Change       5MA  \
0   2020-06-01  240000  247000  239000  243000   362051  0.016736       NaN
1   2020-06-02  242000  249500  240000  244000   297667  0.004115       NaN
2   2020-06-03  247500  247500  239000  242500   399539 -0.006148       NaN
3   2020-06-04  241500  244000  239000  239500   294371 -0.012371       NaN
4   2020-06-05  237500  258500  233500  257000   871235  0.073069  245200.0
..         ...     ...     ...     ...     ...      ...       ...       ...
983 2024-05-27  148900  150800  148900  150300    89644  0.010081  150420.0
984 2024-05-28  150300  150800  148600  149000   122461 -0.008649  149940.0
985 2024-05-29  148100  149400  144400  144700   273090 -0.028859  148580.0
986 2024-05-30  143300  167700  143200  158100  1335950  0.092605  150180.0
987 2024-05-31  164500  180900  157000  176200  3630128  0.114485  155660.0

     5Disparity      20MA  20Disparity           60MA  60Disparity  \
0           NaN       NaN          NaN            NaN          NaN
1           NaN       NaN          NaN            NaN          NaN
2           NaN       NaN          NaN            NaN          NaN
3           NaN       NaN          NaN            NaN          NaN
4      1.048124       NaN          NaN            NaN          NaN
..          ...       ...          ...            ...          ...
983    0.999202  159430.0     0.942733  171975.000000     0.873964
984    0.993731  158815.0     0.938199  171366.666667     0.869481
985    0.973886  157880.0     0.916519  170551.666667     0.848423
986    1.052737  157340.0     1.004830  169990.000000     0.930055
987    1.131954  157850.0     1.116250  169706.666667     1.038262

             120MA  120Disparity
0              NaN           NaN
1              NaN           NaN
2              NaN           NaN
3              NaN           NaN
4              NaN           NaN
..             ...           ...
983  173928.333333      0.864149
984  173781.666667      0.857398
985  173615.000000      0.833453
986  173569.166667      0.910876
987  173660.833333      1.014621

[988 rows x 15 columns]

In [18]:
# 감성분석 label 데이터 가져오기
final = pd.read_excel('./dataset/label_sk.xlsx')
final.rename(columns={'날짜':'Date'}, inplace=True)
final.drop('제목', axis=1, inplace=True)
final['Date'] = pd.to_datetime(final['Date'], format='%Y.%m.%d.')
final

            Date  label
0     2021-06-30      1
1     2021-06-30      1
2     2021-06-30      0
3     2021-06-30     -1
4     2021-06-30      0
...          ...    ...
12382 2024-05-31      1
12383 2024-05-30     -1
12384 2024-05-30     -1
12385 2024-05-31      1
12386 2024-05-30      1

[12387 rows x 2 columns]

In [19]:
# 주가데이터
stock = pd.read_csv('./dataset/stock_sk.csv')
stock['Date'] = pd.to_datetime(stock['Date'])
stock

,Date,Open,High,Low,Close,Volume,Change,5MA,5Disparity,20MA,20Disparity,60MA,60Disparity,120MA,120Disparity
0,2020-06-01,240000,247000,239000,243000,362051,0.016736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-06-02,242000,249500,240000,244000,297667,0.004115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-06-03,247500,247500,239000,242500,399539,-0.006148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-06-04,241500,244000,239000,239500,294371,-0.012371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-06-05,237500,258500,233500,257000,871235,0.073069,245200.0,1.048124,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,2024-05-27,148900,150800,148900,150300,89644,0.010081,150420.0,0.999202,159430.0,0.942733,171975.000000,0.873964,173928.333333,0.864149
984,2024-05-28,150300,150800,148600,149000,122461,-0.008649,149940.0,0.993731,158815.0,0.938199,171366.666667,0.869481,173781.666667,0.857398
985,2024-05-29,148100,149400,144400,144700,273090,-0.028859,148580.0,0.973886,157880.0,0.916519,170551.666667,0.848423,173615.000000,0.833453
986,2024-05-30,143300,167700,143200,158100,1335950,0.092605,150180.0,1.052737,157340.0,1.004830,169990.000000,0.930055,173569.166667,0.910876
987,2024-05-31,164500,180900,157000,176200,3630128,0.114485,155660.0,1.131954,157850.0,1.116250,169706.666667,1.038262,173660.833333,1.014621

In [20]:
# 뉴스기사 데이터는 평균내서 날짜를 기준으로 stock 데이터프레임과 합치기
grouped = final.groupby('Date')['label'].mean().reset_index()
merged_df = pd.merge(stock, grouped, on='Date', how='left')
merged_df

,Date,Open,High,Low,Close,Volume,Change,5MA,5Disparity,20MA,20Disparity,60MA,60Disparity,120MA,120Disparity,label
0,2020-06-01,240000,247000,239000,243000,362051,0.016736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-06-02,242000,249500,240000,244000,297667,0.004115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-06-03,247500,247500,239000,242500,399539,-0.006148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-06-04,241500,244000,239000,239500,294371,-0.012371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-06-05,237500,258500,233500,257000,871235,0.073069,245200.0,1.048124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,2024-05-27,148900,150800,148900,150300,89644,0.010081,150420.0,0.999202,159430.0,0.942733,171975.000000,0.873964,173928.333333,0.864149,NaN
984,2024-05-28,150300,150800,148600,149000,122461,-0.008649,149940.0,0.993731,158815.0,0.938199,171366.666667,0.869481,173781.666667,0.857398,NaN
985,2024-05-29,148100,149400,144400,144700,273090,-0.028859,148580.0,0.973886,157880.0,0.916519,170551.666667,0.848423,173615.000000,0.833453,0.300000
986,2024-05-30,143300,167700,143200,158100,1335950,0.092605,150180.0,1.052737,157340.0,1.004830,169990.000000,0.930055,173569.166667,0.910876,0.016393
987,2024-05-31,164500,180900,157000,176200,3630128,0.114485,155660.0,1.131954,157850.0,1.116250,169706.666667,1.038262,173660.833333,1.014621,0.155080

In [21]:
# 시작 날짜와 종료 날짜를 설정
start = '2021-06-01'
end = '2024-05-31'

# 이 기간 동안의 데이터만 필터링
stock_df = merged_df[(merged_df['Date'] >= start) & (merged_df['Date'] <= end)]
stock_df

,Date,Open,High,Low,Close,Volume,Change,5MA,5Disparity,20MA,20Disparity,60MA,60Disparity,120MA,120Disparity,label
248,2021-06-01,265000,272000,265000,268500,154636,0.013208,265300.0,1.012062,271550.0,0.988768,272850.000000,0.984057,277604.166667,0.967205,NaN
249,2021-06-02,268500,271500,266500,270500,146791,0.007449,266000.0,1.016917,271375.0,0.996776,273108.333333,0.990449,277862.500000,0.973503,NaN
250,2021-06-03,270000,274500,270000,272000,192929,0.005545,268300.0,1.013791,271025.0,1.003597,273483.333333,0.994576,278141.666667,0.977919,NaN
251,2021-06-04,270000,273500,268000,270000,160789,-0.007353,269200.0,1.002972,270500.0,0.998152,273916.666667,0.985701,278362.500000,0.969958,NaN
252,2021-06-07,272500,272500,268500,271000,123611,0.003704,270400.0,1.002219,269925.0,1.003983,274258.333333,0.988119,278575.000000,0.972808,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,2024-05-27,148900,150800,148900,150300,89644,0.010081,150420.0,0.999202,159430.0,0.942733,171975.000000,0.873964,173928.333333,0.864149,NaN
984,2024-05-28,150300,150800,148600,149000,122461,-0.008649,149940.0,0.993731,158815.0,0.938199,171366.666667,0.869481,173781.666667,0.857398,NaN
985,2024-05-29,148100,149400,144400,144700,273090,-0.028859,148580.0,0.973886,157880.0,0.916519,170551.666667,0.848423,173615.000000,0.833453,0.300000
986,2024-05-30,143300,167700,143200,158100,1335950,0.092605,150180.0,1.052737,157340.0,1.004830,169990.000000,0.930055,173569.166667,0.910876,0.016393
987,2024-05-31,164500,180900,157000,176200,3630128,0.114485,155660.0,1.131954,157850.0,1.116250,169706.666667,1.038262,173660.833333,1.014621,0.155080

In [22]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 740 entries, 248 to 987
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          740 non-null    datetime64[ns]
 1   Open          740 non-null    int64
 2   High          740 non-null    int64
 3   Low           740 non-null    int64
 4   Close         740 non-null    int64
 5   Volume        740 non-null    int64
 6   Change        740 non-null    float64
 7   5MA           740 non-null    float64
 8   5Disparity    740 non-null    float64
 9   20MA          740 non-null    float64
 10  20Disparity   740 non-null    float64
 11  60MA          740 non-null    float64
 12  60Disparity   740 non-null    float64
 13  120MA         740 non-null    float64
 14  120Disparity  740 non-null    float64
 15  label         172 non-null    float64
dtypes: datetime64[ns](1), float64(10), int64(5)
memory usage: 98.3 KB

In [23]:
# 결측값 처리
# bfill로 결측값 채우기
stock_df.bfill(axis=0, inplace=True)  # 행 방향으로 결측값 채우기
# ffill로 결측값 채우기
stock_df.ffill(axis=0, inplace=True)  # 행 방향으로 결측값 채우기
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 740 entries, 248 to 987
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          740 non-null    datetime64[ns]
 1   Open          740 non-null    int64
 2   High          740 non-null    int64
 3   Low           740 non-null    int64
 4   Close         740 non-null    int64
 5   Volume        740 non-null    int64
 6   Change        740 non-null    float64
 7   5MA           740 non-null    float64
 8   5Disparity    740 non-null    float64
 9   20MA          740 non-null    float64
 10  20Disparity   740 non-null    float64
 11  60MA          740 non-null    float64
 12  60Disparity   740 non-null    float64
 13  120MA         740 non-null    float64
 14  120Disparity  740 non-null    float64
 15  label         740 non-null    float64
dtypes: datetime64[ns](1), float64(10), int64(5)
memory usage: 98.3 KB

/var/folders/jv/t8mt2tvs47d2dl3wvh8s4s3h0000gn/T/ipykernel_51522/1900876376.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_df.bfill(axis=0, inplace=True)  # 행 방향으로 결측값 채우기
/var/folders/jv/t8mt2tvs47d2dl3wvh8s4s3h0000gn/T/ipykernel_51522/1900876376.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_df.ffill(axis=0, inplace=True)  # 행 방향으로 결측값 채우기

In [24]:
stock_df.to_csv(f'./dataset/final_sk.csv', index=False)